<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jannahsoftware.moviedb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movie_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TVOptions"></activity>
        <activity android:name="com.jannahsoftware.NetWork.NoInternet" />
        <activity android:name=".MovieDetails" />
        <activity android:name=".SearchMovies" />
        <activity android:name=".MovieOptions" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.jannahsoftware.Gifs.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.jannahsoftware.NetWork.BroadCastReciever">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>